@import "tailwindcss";


/* Infinite Moving Cards Animation */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

.animate-scroll {
    animation: scroll var(--animation-duration, 40s) linear infinite;
    animation-direction: var(--animation-direction, forwards);
}

.animate-scroll:hover {
    animation-play-state: paused;
}